.Home {
  text-align: center;
}


body {
  background-image: url(../portfolio-bg.jpg);
  background-size: inherit;
  font-family: 'Lato', sans-serif;
}

.content {
  margin-top: 2em;
  width: 100%;
}
