.Home {
  text-align: center;
}

#homepage {
  width: 100%
}


body {
  background-image: url(../portfolio-bg.jpg);
  font-family: 'Lato', sans-serif;
}

.content {
  margin-top: 2em;
  width: 100%;
}
