.navbar img {
  height: 2.5em;
  color: black !important;
}



.navbar {
  border-bottom: 1px solid rgba(0, 0, 0, 0.473);
  background-color: white;
  color: white;
  position: fixed;
  top: 0;
  width: 100%;
  opacity: 0.7;
  z-index: 2;
}

/* .nav-link {
  color: black !important;
} */

.nav-link:hover {
  color: white;
  font-weight: thin;
  text-decoration: none;
  border-bottom: 2px solid black;
}

/* nav {
  align-items: center;
  background-color: #000000a6;
  color: #000000;
  display: flex;
  height: 80px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
} */
